In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

# Community Reinvestment Act Disclosure Files
`ffiec.gov-cra_disclosure_smb-2010_2015-orig-2.1.1` Last Update: 2020-08-11T19:47:37

_Multi-year CRA disclosures for small business originations._






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@sandiegodata.org), [San Diego Regional Data Library](http://sandiegodata.org)

## Resources

* ** [sb_loan_orig](data/sb_loan_orig.csv)**. Table D1-1, small business disclosire records, for years 2010 to 2015 inclusive

## References
<ul><li> <strong><a href="https://www.ffiec.gov/cra/xls/15exp_discl.zip">discl_15</a></strong>. </li><li> <strong><a href="https://www.ffiec.gov/cra/xls/14exp_discl.zip">discl_14</a></strong>. </li><li> <strong><a href="https://www.ffiec.gov/cra/xls/13exp_discl.zip">discl_13</a></strong>. </li><li> <strong><a href="https://www.ffiec.gov/cra/xls/12exp_discl.zip">discl_12</a></strong>. </li><li> <strong><a href="https://www.ffiec.gov/cra/xls/11exp_discl.zip">discl_11</a></strong>. </li><li> <strong><a href="https://www.ffiec.gov/cra/xls/10exp_discl.zip">discl_10</a></strong>. </li><ul>

In [3]:
df = pkg.resource('sb_loan_orig').dataframe()
df.head()

,table_id,respondent_id,agency,year,loan_type,action,state,county,msa,assessment_area,...,num_orig_bus_lt100k,tot_orig_bus_lt100k,num_orig_bus_lt250k,tot_orig_bus_gt100k_lt250k,num_orig_bus_gt250k_lt1m,tot_orig_bus_gt250k_lt1m,num_orig_bus_lt1m,tot_orig_bus_lt1m,num_orig_bus_al,tot_orig_bus_al
0,D1-1,0000000001,1,2015,4,1,1,1,33860,0014,...,0,0,0,0,0,0,0,0,0,0
1,D1-1,0000000001,1,2015,4,1,1,1,33860,0014,...,3,106,0,0,0,0,2,6,0,0
2,D1-1,0000000001,1,2015,4,1,1,1,33860,0014,...,27,478,0,0,0,0,25,375,0,0
3,D1-1,0000000001,1,2015,4,1,1,1,33860,0014,...,15,208,0,0,1,253,15,421,0,0
4,D1-1,0000000001,1,2015,4,1,1,1,33860,0014,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.head().T

,0,1,2,3,4
table_id,D1-1,D1-1,D1-1,D1-1,D1-1
respondent_id,0000000001,0000000001,0000000001,0000000001,0000000001
agency,1,1,1,1,1
year,2015,2015,2015,2015,2015
loan_type,4,4,4,4,4
action,1,1,1,1,1
state,1,1,1,1,1
county,1,1,1,1,1
msa,33860,33860,33860,33860,33860
assessment_area,0014,0014,0014,0014,0014
partial_county,N,N,N,N,N
split_county,N,N,N,N,N
pop_class,S,S,S,S,S
income_total,101,102,103,104,105
report_level,NaN,NaN,NaN,NaN,NaN
num_orig_bus_lt100k,0,3,27,15,0
tot_orig_bus_lt100k,0,106,478,208,0
num_orig_bus_lt250k,0,0,0,0,0
tot_orig_bus_gt100k_lt250k,0,0,0,0,0
num_orig_bus_gt250k_lt1m,0,0,0,1,0
tot_orig_bus_gt250k_lt1m,0,0,0,253,0
num_orig_bus_lt1m,0,2,25,15,0
tot_orig_bus_lt1m,0,6,375,421,0
num_orig_bus_al,0,0,0,0,0
tot_orig_bus_al,0,0,0,0,0